:root {
  --navbg:#529DF1;
  --navtext:#DCFAFE;
  --bg:#DCFAFE;
  --text:#529DF1;
}

.non-visi{
  display: none;
}
body{
  background-color: var(--bg);
}
nav{
  background-color: var(--navbg);
  display: block;
  color: var(--navtext);
  margin-bottom: 10px;
}
h1{
  margin: 0;
  padding: 5px;
  font-family: "Nico Moji";
  font-size: 36px;
}
label{
  user-select: none;
}



#contents_body{
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}

#eye_info{
  font-size: larger;
  margin-bottom: 10px;
}
#miken{
  margin-right: 10vw;
}
input{
  margin-right: 10px;
}

#cam_on{
  color: var(--text);
}
#cam_off{
  color: #ef776f;
}
#cam_ui{
  margin-top: 10px;
  padding: 10px;
}
.output_canvas{
  width: 50vw;
  height: calc(9*50vw/16);
}

@media screen and (max-width: 1000px) {
  .output_canvas{
    width: 60vw;
    height: calc(9*60vw/16);
  }
}